<div class="container">
    <h3>Car Details</h3>
    <div class="table-wrapper">
      <table class="table table-striped" *ngIf="cars">
        <thead>
          <tr>
            <th>Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <td>{{ car.id }}</td>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
